@font-face {
  font-family: "NotoSansArabic";
  src: local("NotoSansArabic Light"),
    url("../../public/fonts/NotoSansArabic-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "NotoSansArabic";
  src: local("NotoSansArabic Regular"),
    url("../../public/fonts/NotoSansArabic-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NotoSansArabic";
  src: local("NotoSansArabic Medium"),
    url("../../public/fonts/NotoSansArabic-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "NotoSansArabic";
  src: local("NotoSansArabic SemiBold"),
    url("../../public/fonts/NotoSansArabic-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "NotoSansArabic";
  src: local("NotoSansArabic Bold"),
    url("../../public/fonts/NotoSansArabic-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
